@keyframes blur{ from{ text-shadow:0px 0px 10px #d580ff, 0px 0px 10px #d580ff, 0px 0px 25px #ffc0cb, 0px 0px 25px #ffc0cb, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #ffc0cb, 0px 0px 150px #ffc0cb, 0px 10px 100px #ffc0cb, 0px 10px 100px #ffc0cb, 0px 10px 100px #ffc0cb, 0px 10px 100px #ffc0cb, 0px -10px 100px #ffc0cb, 0px -10px 100px #ffc0cb;} }


/*------------------------- Text Daftar Lagu Anak -------------------*/
.col-lg-12, h2 {
  color: #000;
  font-size: 50px;
  text-align: center;
  font-family: "Colonna MT";
}
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
section h3.section-subheading {
color: #000;
margin-bottom: 0px;
}

h4
{
  color: #ff00ab;
  font-family: "Colonna MT",verdana;
  font-size: 26px;
}
/*------------------------------------------------------------------*/

/*----------------------------- Gambar -----------------------------*/
.img
{
  width: 360px;
  height: 300px;
  display: block;
  margin: 10px auto;
  max-width: 100%
}
img
{
  vertical-align: middle;
  border-radius: 50%;
  border-width: 5px 8px;
  border-style: solid;
  border-color: #FFF #FFC0CB;
}

.img-centered {
  height: 375px;
  width: 400px;
  margin: 10px auto;
  box-shadow: 2px 2px 82px 11px #FFc0cb;
}
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
.text-muted 
{
  color: #ff6dd8;
  font-family: "consolas",Arial;
  font-weight: bold;
}

.text-primary 
{
  color: #ffc0cb;
}

a 
{
  color: #ffc0cb;
}
/*------------------------------------------------------------------*/

a:hover,
a:focus,
a:active,
a.active 
{
  color: #d08cff;
}

body 
{
  webkit-tap-highlight-color: #ffc0cb;
}

.bg-light-gray {
  background-color: rgba(253, 234, 255, 0.71);
}

.bg-darkest-gray 
{
  background-color: #ff0;
}

/*---------------------- Button Close Project ----------------------*/
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
  color: #FFF;
  background-color: #D08CFF;
  border-color: #DC99FF;
  box-shadow: 2px 1px 50px 6px #D485FE;
}
/*------------------------------------------------------------------*/

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl 
{
  color: white;
  background-color: #d08cff;
  border-color: #ffc0cb;

  text-shadow:#fff;  
  box-shadow: 2px 1px 50px 6px rgba(250,250,250,1);
}

/*---------------------- Button Close Project ----------------------*/
.btn-primary {
  color: #FFF;
  background-color: #FFC0CB;
  border-color: #FFC0CB;
  box-shadow: 2px 1px 50px 6px #fff;
}
.btn-primary.focus, .btn-primary:focus {
  color: #FFF;
  background-color: #FFC0CB;
  border-color: #FFC0CB;
  box-shadow: 2px 1px 50px 6px #fff;
}
/*------------------------------------------------------------------*/

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active 
{
  background-color: #ffc0cb;
  border-color: #ffc0cb;

  text-shadow:#fff;  
  box-shadow: 2px 1px 50px 6px rgba(250,250,250,1);
}

.btn-primary .badge 
{
  color: #ffc0cb;
  background-color: white;
}

.btn-xl 
{
  color: white;
  background-color: #ffc0cb;
  border-color: #ffc0cb;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active 
{
  background-color: #ffc0cb;
  border-color: #ffc0cb;
}

.btn-xl .badge 
{
  color: #ffc0cb;
  background-color: white;
}

/*------------------- Background Daftar Lagu Anak -------------------*/
.col-lg-12 {
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  background-size: cover;
  background-color: #FFC0CB;
  background-image: url('../img/2.jpg');
}
/*------------------------------------------------------------------*/

/*------------------------- Garis dan Love -------------------------*/
hr.love {
  padding: 0px;
  border-width: 5px medium medium;
  border-style: solid none none;
  border-color: -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  text-align: center;
  max-width: 1200px;
  margin: 25px auto 30px;
  color: #ffc0cb;
}

hr.love::after {
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0px 0.25em;
  text-shadow: 0px 0px 5px #D03090, 0px 0px 7px #D03090;
}
/*------------------------------------------------------------------*/

header .intro-text .intro-lead-in {
  font-family: "Matura MT Script Capitals",arial;
  font-style: italic;
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 25px;

  animation:blur .75s ease-out infinite; 
  text-shadow:0px 0px 5px #ffc0cb, 0px 0px 7px #ffc0cb; 
}

header .intro-text .intro-heading {
  font-family: "DFPOP1-W9",arial;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 35px;

  animation:blur .75s ease-out infinite; 
  text-shadow:0px 0px 5px #ffc0cb, 0px 0px 7px #ffc0cb; 
}

/*------------------------------ Home ------------------------------*/
.navbar-custom .navbar-brand 
{
  color: #ffc0cb;
  font-family: "DFPOP1-W9","Kaushan Script";
  font-size: 36px;
}
/*------------------------------------------------------------------*/

/*------------------------- Button Before --------------------------*/
.navbar-custom .navbar-toggle 
{
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
/*------------------------------------------------------------------*/
.navbar-custom 
{
  border-color: transparent;
}

@media (min-width: 768px) 
{
  .navbar-custom.affix 
  {
    background-color: #fff;
    padding: 15px 5px;
  }
    .navbar-custom.affix .navbar-brand {
    font-size: 2em; /* em = italic */ /* Home */
  }
}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #FFDFDF;
  text-transform: uppercase;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active 
{
  color: #d580ff;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus 
{
  background-color: #ffc0cb;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus 
{
  color: #ffc0cb;
  outline: none;
}

.navbar-custom .navbar-nav > .active > a 
{
  border-radius: 0;
  color: white;
  background-color: #ffc0cb;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active 
{
  color: #D08CFF;
}
/*-------------------------- Button After --------------------------*/
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus 
{
  color: white;
  background-color: #D08CFF;
}
/*------------------------------------------------------------------*/
p {
  color: #000;
  width: 100%;
  padding: 30px;
  display: block;
  font-size: 22px;
  margin: 30px auto;
  background-size: cover;
  border-radius: 0px 100px;
  border: 3px solid #ff00ab;
  background-color: #ffc0cb;
  font-family: "Comic Sans MS";
  background-image: url('../img/1.jpg');
  box-shadow: 2px 2px 82px 11px #FFc0cb;
  border-style: dashed;
}

.timeline > li .timeline-image 
{
  background-color: #ffc0cb;
  color: white;
}

section#contact .form-control:focus 
{
  border-color: #ffc0cb;
  box-shadow: none;
}


ul.social-buttons li a 
{
  display: block;
  color: #FF1DAD;
  background-color: #fff;
  box-shadow: 2px 1px 50px 6px #FFC0CB;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active 
{
  background-color: #ffc0cb;
}
/*-------------------- Simbol (+) untuk Pop Out --------------------*/
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  background: rgba(255, 192, 203, 0.9) none repeat scroll 0% 0%;
}

.portfolio-modal .modal-content {
  border-radius: 0px;
  background-clip: border-box;
  box-shadow: none;
  border: medium none;
  min-height: 100%;
  padding: 100px 0px;
  text-align: center;
  color: rgb(252, 169, 252);
  background-color: #FFDAF5;
}
/*------------------------------------------------------------------*/

/*--------------------------- Judul Lagu ---------------------------*/
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(255, 192, 203);
}
/*------------------------------------------------------------------*/

/*---------------------------- Button X ----------------------------*/
.portfolio-modal .close-modal .lr 
{
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #ff00ab;
}

.portfolio-modal .close-modal .lr .rl 
{
  height: 75px;
  width: 1px;
  background-color: #ff00ab;
}
/*------------------------------------------------------------------*/

::-moz-selection 
{
  text-shadow: none;
  background: #ffc0cb;
}

::selection 
{
  text-shadow: none;
  background: #ffc0cb;
}



