/* GLOBAL STYLES
/*------------------------------------------------------------------------*/
/* Padding below the footer and lighter body text */

body {
    font-family: "Josefin Slab","Open Sans",Arial,sans-serif;
    background: url('../img/picture3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #5a5a5a;
    padding-bottom: 40px;
}
.container {
  width: 100%;
  color: #30f;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #0027FF -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}
/*--------------------------------- Header ------------------------------ */
.brand {
  display: inherit;
  margin: 0px;
  padding: 30px 0px 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #ff0;
  font-family: "Josefin Slab",Arial,sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: normal;
  color: #30f;
}

.address-bar {
  display: inherit;
  margin: 0px;
  padding: 0px 0px 40px;
  text-align: center;
  text-shadow: 1px 1px 2px #ff0;
  text-transform: uppercase;
  font-size: 1.80em;
  font-weight: 400;
  letter-spacing: 3px;
  color: #30f;
}
/*------------------------------------------------------------------------*/

/*--------------------------------- Button ------------------------------ */
.btn-info {
  color: #FFF;
  background-color: #ff0;
  float: right !important;
  margin: 10px auto;
  border: medium none rgba(0, 57, 255, 0);
  box-shadow: 2px 1px 50px 6px rgba(245, 251, 5, 0.85);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color: #FFF;
    background-color: #30f;
    border-color: #30f;
    box-shadow: 2px 1px 50px 6px #30f;
}
.btn-default {
  color: #FFF;
  background-color: #0002AD;
  border-color: #6953FB;
}
/*------------------------------------------------------------------------*/

/*---------------------------------- Text ------------------------------- */
h1,h2,h3,h4,p,a{
  line-height: 1.1;
  font-weight: 500;
}
a{
  font-size: 1em;
}
p {
  color: #000;
  font-family: "consolas";
  font-size: 1.25em;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  font-family: "Matura MT Script Capitals";
  color:#30f;
  font-size: 42px;
}
h2{
  color:#30f;
  font-family: "DFPOP1-W9","Bahaus 93","Berlin Sans FB Demi",Arial;
}
h3{
  color: #30f;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
  font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4{
  color:#fff;
  font-size: 1.25em;
  font-family: "DFPOP1-W9","Bahaus 93","Berlin Sans FB Demi",Arial;
}
.judulindex{
  font-size: 52px;
}
.size{
  font-size: 34px;
}
/*------------------------------------------------------------------------*/
.img-style{
  vertical-align: middle;
  border-radius: 20%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #ff0 #30f;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-collapse {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: outside none none;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
  background-color: #001C93;
  border-color: #FFF;
}
/*--------------------------- Drop Down Menu -----------------------------*/
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #ff0;
  background-color: #30f;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #ff0;
  text-decoration: none;
  background-color: #30f;
}
/*------------------------------------------------------------------------*/

/*--------------------------- Navbar Toggle ------------------------------*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #ff0;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
/*------------------------------------------------------------------------*/
.navbar-nav {
  float: left;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav > li > a {
  padding: 25px;
}
/*------------------------- Navbar Focus Button ------------------------- */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #ff0;
  background-color: #001C93;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ff0;
  font-weight: bold;
}
/*------------------------------------------------------------------------*/

/*---------------------------- Minimize Navbar ---------------------------*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgb(240, 0, 255);
}
/*------------------------------------------------------------------------*/

.team{
  display: inherit;
  margin: 0px;
  padding: 30px 0px 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Algerian",Arial,sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  height: 600px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}
.marketing h2 {
  font-weight: bold;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */
.featurette-divider {
  margin: 30px 0px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (min-width:768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/*---------------------------------- BOX ---------------------------------*/
.row {
  background-color: rgba(255, 255, 0, 0.64);
}

.normal {
  border-radius: 0px 0px;
  background-color: #fff;
  margin: 35px 0px 35px 0px;  
}
.box {
  border:5px dotted #30f;
  background-color: #fff;
  border-radius: 0px 100px;
  margin: 35px 0px 35px 0px;    
}
.br{
  border:5px dashed #30f;
  border-radius: 0px 100px;
  background-color: rgba(255, 255, 0, 0.64);
}
.box-spasi {
  padding: 30px 15px;
  margin-bottom: 20px;
}
/*------------------------------------------------------------------------*/

/*------------------------------- List Group -----------------------------*/
a.list-group-item, button.list-group-item {
  color: #30f;
}
.plist{
  color: #fff;
  font-size: 1.2em;
  font-family: "consolas","Open Sans",Arial,sans-serif;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 1.5em;
}
.row-none {
  background-color: #001C93;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #Fff;
  text-decoration: none;
  background-color: #001C93;
}
.well {
  padding: 19px;
  margin-top: 20px;
  min-height: 20px;
  border-radius: 4px;
  border: 1px solid #30f;
  background-color: #001C93;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
/*------------------------------------------------------------------------*/

/*-------------------------------- Spasi ---------------------------------*/
.featurette {
  padding: 20px 0px 20px 0px;
}
/*------------------------------------------------------------------------*/

/*----------------------------- Judul Hari Raya --------------------------*/
.col-lg-12 {
  width: 100%;
  height: 100%;
  padding: 35px;
  border-radius: 10px;
}
/*------------------------------------------------------------------------*/

/*------------------------------ Panel Artikel ---------------------------*/
.panel-default {
  border-color: #FFF;
}
.panel {
  margin-bottom: 20px;
  background-color: #FCFC23;
  border: 2px solid #30f;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #8D8BFF;
}
.panel-default > .panel-heading {
  color: #FFF;
  background-color: #001D99;
  border-color: #30F;
}
.page-header {
  padding-bottom: 9px;
  /* margin: 40px 0px 20px; */
  border-bottom: 1px solid #30F;
}
/*------------------------------------------------------------------------*/

*::-moz-selection {
  text-shadow: none;
  background: rgba(255, 255, 0, 0.82) none repeat scroll 0% 0%;
}