body
{
	background-color: #FFd9e5;
}

img
{
	width: 444px;
}

h1
{
	color: #ff3399;
	font-weight: bold;
	font-size: 36px;
	font-family: "Kristen ITC";
}

h2
{
	color: #0000cc;
	font-weight: bold;
	font-size: 32px;
	font-family: "Courier New";
}

h3
{
	color: #0000cc;
	font-weight: bold;
	font-size: 26px;
	font-family: "Courier New";
}

p
{
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	font-family: "consolas";
}

.judulutama
{
	color: #ff0080;
	font-size: 48px;
	font-family: "Matura MT Script Capitals";
	text-align: center;
}